/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *    http: *www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
**/
body {
	
}

#header-img {
	
}

#header-title {
	
}

#OCW-powered {
	
}

#main-container {
	margin-top: 80px;
	min-height: 400px;
	height: auto !important;
	height: 400px;
}

#datasetDiv {
	height: 750px;
	overflow-y: auto;
	overflow-x: hidden;
}

#map { height: 500px; }

/* Small preview map that is displayed alongside dataset information */
.preview-map {
	height: 100px;
	width: 100px;
}

.small-alert {
	font-size: 12px;
	color: green;
	margin-top: 4px;
	margin-left: 10px;
}

.colorSquare {
	margin-top: 3px;
	height: 10px;
	width: 10px;
}

ul { list-style-type: none; }

.no-color-link { color: #000000; }
.no-color-link:hover { color: #000000; text-decoration: none; }
.no-color-link:visited { color: #000000; }
.no-color-link:active { color: #000000; }

/* Remove the grayed out close button in modal headers */
.modal-header .close { opacity: 1; }

/* Remove the grayed out close button in modal footers */
.modal-footer .close { opacity: 1; }

/** 
  * Timeline 
  */
div#OCWtimeline {
	margin-top: 20px;
	padding-bottom: 20px;
}

div.timeline-event {
	border: none;
	background: none;
}

div.timeline-event-content { margin: 0; }

div.ocw-bar { height: 5px; }

/**
  * Results
  */
#results-sidebar {
	min-height: 400px;
	height: auto !important;
	height: 400px;
}

#results-sidebar-header { font-size: 14px; }
