<ul class="nav nav-pills">
	<li class="active"><a href="#/obs">Local File</a></li>
	<li><a href="#/rcmed">RCMED</a></li>
	<li class="disabled"><a href="#/esg">ESG</a></li>
</ul>

<form class="form-inline" autocomplete="off">
	<input id="observationFileInput" predictive-file-browser-input ng-model="filePathInput" type="text" class="input-xlarge" autocomplete="off" />
	<button class="btn" ng-click="uploadLocalFile()">Upload File</button>
</form>

<div class="row">
	<div class="span2 text-center">
		Parameter Option
	</div>
	<div class="span3">
		<!--
			This is not really the correct way to handle this. The commented code should be used, but
			it's not working. So...
		-->
		<!--<select ng-model="paramSelect" ng-options="val for val in params"></select>-->
		<select id="paramSelect">
			<option ng-repeat="param in params">{{param}}</option>
		</select>
	</div>
	<div class="span2 text-center">
		Latitude Variable
	</div>
	<div class="span3">
		<select id="latsSelect">
			<option ng-repeat="lat in lats">{{lat}}</option>
		</select>
	</div>
	<div class="span2 text-center">
		Longitude Variable
	</div>
	<div class="span3">
		<select id="lonsSelect">
			<option ng-repeat="lon in lons">{{lon}}</option>
		</select>
	</div>
	<div class="span2 text-center">
		Date/Time Variable
	</div>
	<div class="span3">
		<select id="timesSelect">
			<option ng-repeat="time in times">{{time}}</option>
		</select>
	</div>
</div>

<button class="btn" ng-click="addDataSet()">Add Dataset</button>
