<?xml version="1.0" encoding="UTF-8"?>
<cas:externextractor xmlns:cas="http://oodt.jpl.nasa.gov/1.0/cas">
    <exec workingDir="[WRM_MET_OUT]">
        <extractorBinPath>[WRM_HOME]/metextraction/AIRSNetCDFExtractor.php</extractorBinPath>
        <args>
            <arg>/usr/bin/ncdump</arg>
            <arg isDataFile="true"/>
            <arg>[WRM_MET_OUT]</arg>
            <arg>SurfAirTemp_A,SurfAirTemp_D</arg>
        </args>
    </exec>
</cas:externextractor>