@charset "UTF-8";
/* CSS Document */

body {
	margin: 0;
	padding: 0;
	font-family: "Helvetica", "Arial", sans-serif;
	color: black;
	background-image: none;
	
}

#contentbox_inner_main p {
	font-size: 11pt;
	line-height: 14pt;
	width: 6in;
	margin-left: 0.25in;
}
#wrapper_top, #contentbox_inner_header, #contentbox_inner_sidebar_nosearch, #contentbox_inner_sidebar, #wrapper_bottom {
	display: none;
}
