<ul class="nav nav-pills">
	<li class="active"><a href="#/obs">Local File</a></li>
	<li><a href="#/rcmed">RCMED</a></li>
	<li class="disabled"><a href="#/esg">ESG</a></li>
</ul>

<form class="form-inline" autocomplete="off">
	<input id="observationFileInput" predictive-file-browser-input ng-model="filePathInput" type="text" class="input-xlarge" autocomplete="off" />
	<button class="btn" ng-click="uploadLocalFile()" ng-disabled="shouldDisableLoadButton()">
    <div ng-hide="loadingFile">Load File</div>
    <div ng-show="loadingFile"><i class="icon-spinner icon-spin"></i></div>
  </button>
</form>

<div class="row">
	<div class="span2 text-center">
    Evaluation Variable
	</div>
	<div class="span3">
    <select ng-model="paramSelect" ng-options="param for param in params"></select>
	</div>
	<div class="span2 text-center">
		Latitude Variable
	</div>
	<div class="span3">
    <select ng-model="latsSelect" ng-options="lat for lat in lats"></select>
	</div>
	<div class="span2 text-center">
		Longitude Variable
	</div>
	<div class="span3">
    <select ng-model="lonsSelect" ng-options="lon for lon in lons"></select>
	</div>
	<div class="span2 text-center">
		Date/Time Variable
	</div>
	<div class="span3">
    <select ng-model="timeSelect" ng-options="time for time in times"></select>
	</div>
</div>

<button class="btn pull-left" ng-click="addDataSet()">Add Dataset</button>
<div class="pull-left small-alert" ng-show="fileAdded">Successfully added dataset...</div>
