<!--
 ~ Licensed to the Apache Software Foundation (ASF) under one
 ~ or more contributor license agreements.  See the NOTICE file
 ~ distributed with this work for additional information
 ~ regarding copyright ownership.  The ASF licenses this file
 ~ to you under the Apache License, Version 2.0 (the
 ~ "License"); you may not use this file except in compliance
 ~ with the License.  You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
-->

<ul class="nav nav-pills">
	<li><a href="#/obs">Local File</a></li>
	<li class="active"><a href="#/rcmed">RCMED</a></li>
	<li class="disabled"><a href="#/esg">ESG</a></li>
  <li class="pull-right">Queued Datasets: {{datasetCount.length}}</li>
</ul>

<div class="row">
	<div class="span5">
		Select the RCMED dataset that you would like use.
	</div>
</div>
<div class="row">
	<div class="span4">
		<select ng-change="dataSelectUpdated()" class="span5" ng-model="datasetSelection" ng-options="obs as obs.longname for obs in availableObs"></select>
	</div>
</div>
<div class="row">
	<div class="span5">
		Select the dataset parameter that you would like to test.
	</div>
</div>
<div class="row">
	<div class="span4">
		<select class="span3" ng-model="parameterSelection" ng-options="param as param.shortname for param in retrievedObsParams"></select>
	</div>
</div>

<button class="btn pull-left" ng-click="addObservation()">Add Observation</button>
<div class="pull-left small-alert" ng-show="fileAdded">Successfully added dataset...</div>
